# --- Core Flask stack ---
Flask~=3.0.0
Flask-WTF==1.2.1
WTForms~=3.0.1
Bootstrap-Flask==2.5.0
Flask-SQLAlchemy==3.1.1

# --- ORM / Database ---
SQLAlchemy~=2.0.25

# --- Data handling ---
pandas~=2.3.3

# --- API and networking ---
requests~=2.31.0
fyers_apiv3==3.1.7

fyers_apiv3~=3.1.7
python-dotenv~=1.2.1
Flask-Login~=0.6.3
fyers_apiv3~=3.1.7
cryptography~=46.0.3

Werkzeug~=3.0.0

# --- Hosting ---
gunicorn==21.2.0
psycopg2-binary==2.9.9
