{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}
{% block content %}

<div class="container py-3 my-3">
  <h2 class="pb-3">{{ current_user.user }}'s Portfolio</h2>

  <!-- Summary -->
  <div class="mb-3">
    <h5 class="mb-1">Market Value: Rs. {{ "%.2f"|format(tmv) }}</h5>
    <h6 class="mb-1">Available Funds: Rs. {{ current_user.balance }}</h6>
    <h6 class="{% if total_unrealised_pnl > 0 %}text-success
               {% elif total_unrealised_pnl < 0 %}text-danger
               {% else %}text-secondary{% endif %}">
      Profit/Loss: Rs. {{ "%.2f"|format(total_unrealised_pnl) }}
    </h6>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped align-middle table-sm">
      <thead class="table-dark sticky-top">
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col" class="d-none d-md-table-cell">Name</th>
          <th class="text-end" scope="col">Qty</th>
          <th class="text-end d-none d-md-table-cell" scope="col">Avg ₹</th>
          <th class="text-end" scope="col">LTP ₹</th>
          <th class="text-end d-none d-lg-table-cell" scope="col">Mkt Value ₹</th>
          <th class="text-end">P&L ₹</th>
          <th class="text-end d-none d-lg-table-cell">% P&L</th>
        </tr>
      </thead>

      <tbody>
        {% for row in data %}
        <tr>
          <td>
            <a href="{{ url_for('stock_info', symbol=row['symbol']) }}">
              {{ row['symbol'] }}
            </a>
          </td>

          <td class="d-none d-md-table-cell">
            {{ row['name'] }}
          </td>

          <td class="text-end">
            {{ "%.2f"|format(row['quantity']) }}
          </td>

          <td class="text-end d-none d-md-table-cell">
            {{ "%.2f"|format(row['avg_price']) }}
          </td>

          <td class="text-end">
            {{ "%.2f"|format(row['ltp']) }}
          </td>

          <td class="text-end d-none d-lg-table-cell">
            {{ "%.2f"|format(row['market_value']) }}
          </td>

          <td class="text-end
            {% if row['unrealised_pnl'] > 0 %}text-success
            {% elif row['unrealised_pnl'] < 0 %}text-danger
            {% else %}text-secondary{% endif %}">
            ₹ {{ "%.2f"|format(row['unrealised_pnl']) }}
          </td>

          <td class="text-end d-none d-lg-table-cell">
            {{ "%.2f"|format(
              (row['unrealised_pnl'] / (row['avg_price'] * row['quantity'])) * 100
            ) }}%
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
