{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">

    <!-- FORM -->
    <div class="col-12 col-md-7 px-3 py-4">
      {{ render_form(form) }}
    </div>

    <!-- AUTH LINK -->
    <div class="col-12 col-md-3 px-3 py-2 py-md-5 text-center text-md-start">
      <a href="{{ url_for('get_code') }}">
        Click to generate Auth Code
      </a>
    </div>

  </div>
</div>

{% endblock %}